* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50;
    margin: 0;
    background-color: rgba(146, 137, 231, 0.6)
}

.header {
    display: flex;
    justify-content: center;
}

.main {
    flex: 1;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin: 50px 200px;
}

.toolbar {
    width: 200px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

button {
    border: 2px solid black;
    background-color: transparent;
    width: 170px;
    height: 30px;
    font-weight: 700;
}

.color-setter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    font-weight: 700;
    margin-top: 0px;
}

.instruction {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    width: 170px;
    height: 50px;
    font-size: 18;
    font-weight: 700;
    margin-bottom: 0px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @keyframes effect {
        0% {
            background: linear-gradient(
                    #008000, #00FF00);
            -webkit-background-clip: text;
        }

        100% {
            background: linear-gradient(
                    #3CE7D7, #000FFF);
            -webkit-background-clip: text;
        }
    }
}

.color-picker {
    border: 2px solid black;
    background-color: transparent;
    width: 170px;
    height: 30px;
}
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value-container {
    margin-bottom: 10px;
}

.sliderbox {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 20px;
}

#slidervalue {
    color: black;
    font-size: 18;
}

.slider {
    width: 170px;
    border-radius: 25px;
    cursor: pointer;
    appearance: none;
    background-color: rgba(30, 10, 200, 0.6);
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: white;
    height: 600px;
    width: 600px;
    margin: 0px;
    padding: 0px;
    border: 20px solid;
    border-color: rgba(30, 10, 200, 0.65);
}

.slider {
    margin-bottom: 15px;
}

#applygrid {
    margin-bottom: 10px;
    background-color: aquamarine;
}

#resetgrid {
    background-color: rgba(164, 5, 53, 0.6);
}

.gridcell {
    padding: 0em;
    margin: 0px;
    border: 0.5px solid black;
}

.footer {
    display: flex;
    justify-content: center;
}