* {
    box-sizing: border-box;
    /* border: 2px solid black; */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgba(30, 10, 200, 0.6)
}

#myCanvas {
    background-color: white;
}